*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
       height: 40px;
       background-color: black;

}
nav ul li a  {
    color: aliceblue;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
    float: right;
    font-size: 17px;
    text-align: center;
    
}